---
http_interactions:
- request:
    method: get
    uri: https://secure.echosign.com/api/rest/v2/agreements/2AAABLblqZhA79nM-6ALjW2nXMKKb_ECz-Nr2yr_WrJ-3-Vz7d5D5_Dn9B6K-25C_EDktQqawW7M*/documents?format=ORIGINAL&participantEmail=goishi.san@gmail.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - 2AAABLblqZhC3HrDExRuNnTr9I-U3z2f2KtGloHKah3ccogCP4HzbN5XSbcKSlxNJDtNCVAq94pM*
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"documents":[{"documentId":"2AAABLblqZhDcteEO9jy6gSat9d_3XgpPVpxhetoDCpU4L9PoolGv_3mqgKL1DhIGTXTHhqAHlHk*","mimeType":"application/pdf","name":"agreement.pdf"}]}'
  recorded_at: Tue, 19 Aug 2014 09:50:48 GMT
recorded_with: VCR 2.8.0
