---
http_interactions:
- request:
    method: post
    uri: https://secure.echosign.com/api/rest/v2/agreements
    body:
      encoding: UTF-8
      string: '{"documentCreationInfo":{"fileInfos":[[{"documentURL":{"url":"http://findgoplayers.com/resume.pdf","mimeType":"application/pdf","name":"resume.pdf"}}]],"recipients":[{"role":"SIGNER","email":"goishi.san@gmail.com"}],"signatureFlow":"SENDER_SIGNS_LAST","signatureType":"ESIGN","name":"Rumplestiltskin
        Contract"}}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - 2AAABLblqZhC3HrDExRuNnTr9I-U3z2f2KtGloHKah3ccogCP4HzbN5XSbcKSlxNJDtNCVAq94pM*
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"agreementId":"2AAABLblqZhDH5O_Xd8tfOd1Zo9wVISPLZOaCZMbrNqEFQbBC4RqW7W1FgVWp4lhWk8cG5ctTnEU*"}'
  recorded_at: Mon, 18 Aug 2014 10:32:20 GMT
recorded_with: VCR 2.8.0
