---
http_interactions:
- request:
    method: post
    uri: https://secure.echosign.com/api/rest/v2/widgets
    body:
      encoding: UTF-8
      string: '{"widgetCreationInfo":{"signatureFlow":"SENDER_SIGNS_LAST","fileInfos":[{"documentURL":{"url":"http://findgoplayers.com/resume.pdf","mimeType":"application/pdf","name":"resume.pdf"}}],"name":"Test
        widget"}}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - 2AAABLblqZhC3HrDExRuNnTr9I-U3z2f2KtGloHKah3ccogCP4HzbN5XSbcKSlxNJDtNCVAq94pM*
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"javascript":"<script type=''text/javascript'' language=''JavaScript''
        src=''https://secure.echosign.com/public/widget?f=9V5BHC4L3A394E''></script>","url":"https://secure.echosign.com/public/hostedForm?formid=9V5BHC4L3A394E","widgetId":"2AAABLblqZhD_6RpgbZh5ZVlLXz1H1kfVzw4vHB91MtmjNHBDorFqO0H3_cGzBudZxiWNzPXFzOc*"}'
  recorded_at: Thu, 21 Aug 2014 00:17:26 GMT
recorded_with: VCR 2.8.0
