---
http_interactions:
- request:
    method: post
    uri: https://secure.echosign.com/api/rest/v2/users
    body:
      encoding: UTF-8
      string: '{"firstName":"JohnQ","lastName":"Public","email":"publius@comcast.net","password":"kN12oK9p!3","title":"Hedge
        Wizard"}'
    headers:
      Content-Type:
      - application/json
      Access-Token:
      - 2AAABLblqZhC3HrDExRuNnTr9I-U3z2f2KtGloHKah3ccogCP4HzbN5XSbcKSlxNJDtNCVAq94pM*
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"userId":"2AAABLblqZhA4djJBQ5Nlm-I_AWFlCrEQzXmu3k56lHy9h_-EHuFNZCLNplBXRh_FifTL8QlbnOY*"}'
  recorded_at: Sat, 16 Aug 2014 08:53:54 GMT
recorded_with: VCR 2.8.0
