---
http_interactions:
- request:
    method: get
    uri: https://secure.echosign.com/api/rest/v2/users/2AAABLblqZhBp6sZ412RCo4_5P1OCDATcuKQf3gzb7M-kea77rqC7h6kzMKSpofswP8rY9Cwv9Vw*
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - 2AAABLblqZhC3HrDExRuNnTr9I-U3z2f2KtGloHKah3ccogCP4HzbN5XSbcKSlxNJDtNCVAq94pM*
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"account":"railjumper.com","accountType":"GLOBAL_TRIAL","capabilityFlags":["CAN_SEND","CAN_SIGN","CAN_REPLACE_SIGNER"],"channel":"_default","company":"Independent
        Contractor","email":"cthomas@railjumper.com","firstName":"Cath","initials":"CT","lastName":"Thomas","locale":"English
        (United States)","passwordExpiration":"2021-04-14T17:22:08-07:00","phone":"479
        856 8793","roles":["API","GROUP_ADMIN","ACCOUNT_ADMIN"],"title":"Ruby on Rails
        developer"}'
  recorded_at: Wed, 20 Aug 2014 00:12:22 GMT
recorded_with: VCR 2.8.0
