---
http_interactions:
- request:
    method: get
    uri: https://secure.echosign.com/api/rest/v2/libraryDocuments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Access-Token:
      - 2AAABLblqZhC3HrDExRuNnTr9I-U3z2f2KtGloHKah3ccogCP4HzbN5XSbcKSlxNJDtNCVAq94pM*
      X-User-Email:
      - cthomas@railjumper.com
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"libraryDocumentList":[{"libraryDocumentId":"2AAABLblqZhDmhVVGMarhXOxKL4oc4SRSbZwdgztju_UHPKglcKId0-lvTuEUUTml8TWWDeb0u5Y*","libraryTemplateTypes":["DOCUMENT"],"modifiedDate":"2014-01-09T13:06:31-08:00","name":"W-4
        (IRS Employee Withholding Allowance) 2014","scope":"GLOBAL"},{"libraryDocumentId":"2AAABLblqZhBYW_ZP4O3QJbBwfG3f4trb91FHFyA0NQ9A_DiBIpWAy99EKa_HWdhnPVLBoovxwpw*","libraryTemplateTypes":["DOCUMENT"],"modifiedDate":"2013-12-10T14:42:55-08:00","name":"I-9
        (Employment Eligibility Verification)","scope":"GLOBAL"},{"libraryDocumentId":"2AAABLblqZhCri9FNiCHjwsixnFegzTxO6cP52B-FIhfOXZjjDHggZoYPQB5r0YS66QZg4DLQV-g*","libraryTemplateTypes":["DOCUMENT"],"modifiedDate":"2013-12-10T14:42:55-08:00","name":"W-9
        (Request for Taxpayer Identification Number) ","scope":"GLOBAL"}]}'
  recorded_at: Wed, 20 Aug 2014 09:47:46 GMT
recorded_with: VCR 2.8.0
