---
http_interactions:
- request:
    method: post
    uri: https://secure.echosign.com/api/rest/v2/auth/tokens
    body:
      encoding: UTF-8
      string: '{"applicationCredentials":{"applicationId":"9QCM5C6Y2AX82M","applicationSecret":"390db093ee6f71ffc6d488b9457593a7"},"userCredentials":{"apiKey":"XCNLJFG83URX95Y","email":"cthomas@railjumper.com","password":"vvidmk"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"accessToken":"2AAABLblqZhC3HrDExRuNnTr9I-U3z2f2KtGloHKah3ccogCP4HzbN5XSbcKSlxNJDtNCVAq94pM*","expiresIn":1209599}'
  recorded_at: Sat, 16 Aug 2014 08:44:33 GMT
recorded_with: VCR 2.8.0
